<%- include('partials/header') %>

<main class="w-full h-screen">
  <section
    id="home"
    class="w-full flex xl:flex-row flex-col max-container p-2 relative"
  >
    <div class="w-full relative">
      <img
        src="images/banner.jpg"
        class="w-full max-h-screen object-fit opacity-80 brightness-50 shadow-md rounded-lg"
        alt="Background"
      />
      <div
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center text-white w-full"
      >
        <p
          class="text-4xl max-md:text-3xl max-sm:text-lg max-md:leading-8 font-bold mb-4 underline"
        >
          We Build Strong <br />
          Student Communities
        </p>
        <div class="flex justify-center text-white mt-6">
          <p
            class="w-1/2 max-md:w-full text-lg max-sm:text-sm text-center font-montserrat font-semibold max-xsm:leading-none max-xsm:font-normal"
          >
            Join our educational community where collaboration thrives and
            students empower each other to excel. Together, we ensure every
            individual gains the knowledge and skills essential for a prosperous
            future.
          </p>
        </div>
        <a href="/student/register">
          <button
            class="px-4 py-2 rounded-md shadow-md border border-black text-xl text-black transition-all bg-white text-black hover:text-white hover:bg-black cursor-pointer font-bold text-base tracking-wide"
          >
            Get Started
          </button>
        </a>
      </div>
    </div>
  </section>

  <section
    class="relative bottom-24 max-md:bottom-0 bg-white rounded-lg shadow-lg w-auto p-12 mx-20 max-md:mx-12 max-md:p-6 flex flex-col items-center"
  >
    <div class="w-full flex justify-center items-center">
      <h1
        class="w-1/2 max-md:w-full max-md:px-4 max-md:text-lg text-center font-bold text-3xl"
      >
        The service we offer is specifically deisgned to meet your needs.
      </h1>
    </div>
    <hr class="border-4 my-4 border-black w-1/2" />

    <div class="flex justify-center items-center flex-wrap gap-4">
      <!-- Card 1 -->
      <div class="max-w-xs mx-4 bg-white rounded-lg overflow-hidden shadow-lg border hover:border-black transition-all duration-200">
        <div class="p-4">
          <div class="text-3xl flex gap-2 text-gray-900 mb-2">
            <i class="las la-users"></i>
            <h2 class="text-xl font-bold mb-2">Find Your Tribe</h2>
          </div>
          <p class="text-gray-700">
            Connect with students who share your passions and goals. Together,
            we thrive.
          </p>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="max-w-xs mx-4 bg-white rounded-lg overflow-hidden shadow-lg border hover:border-black transition-all duration-200">
        <div class="p-4">
          <div class="text-3xl flex gap-2 text-gray-900 mb-2">
            <i class="las la-hands-helping"></i>
            <h2 class="text-xl font-semibold mb-2">
              Guidance at Your Fingertips
            </h2>
          </div>
          <p class="text-gray-700">
            Access mentors who can help navigate your educational journey with
            ease.
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="max-w-xs mx-4 bg-white rounded-lg overflow-hidden shadow-lg border hover:border-black transition-all duration-200">
        <div class="p-4">
          <div class="text-3xl flex gap-2 text-gray-900 mb-2">
            <i class="las la-chalkboard-teacher"></i>
            <h2 class="text-xl font-semibold mb-2">Teach & Inspire</h2>
          </div>
          <p class="text-gray-700">
            Share your expertise as a tutor and empower others to succeed.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
