<%- include('../partials/header') %>

<main class="flex justify-center items-center w-full h-svh">
  <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center mb-6">Forgot Password</h2>
    <form id="forgot-password-form" action="" method="POST">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-semibold mb-2"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:border-black"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="mb-4">
        <label for="user-type" class="block text-gray-700 font-semibold mb-2"
          >User Type</label
        >
        <select
          id="user-type"
          name="userType"
          class="border border-gray-300 rounded-md px-3 py-2 w-full focus:outline-none focus:border-black"
          required
        >
          <option value="" disabled selected>Select user type</option>
          <option value="faculty">Faculty</option>
          <option value="student">Student</option>
        </select>
      </div>
      <button
        id="forgot-password-btn"
        type="submit"
        class="bg-black text-white font-semibold py-2 px-4 rounded-md w-full hover:bg-black focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2"
      >
        Reset Password
      </button>
    </form>
  </div>
</main>

<script>
  $(document).ready(function () {
    // Perform Forgot Password
    $(document).on("submit", "#forgot-password-form", function (event) {
      event.preventDefault();

      const email = $("#email").val().trim();
      const userType = $("#user-type").val();

      $.ajax({
        type: "POST",
        url: "/auth/password",
        data: {
          email: email,
          userType: userType,
        },
        beforeSend: function () {
          $("#forgot-password-btn")
            .text("Loading...")
            .removeClass("bg-black")
            .addClass("bg-gray-600")
            .prop("disabled", true);
        },
        success: function (response) {
          alert(response.message);
          if (response.success) {
            console.log("inside");
            window.location.href = "/auth/reset-password";
          }
          console.log("Outside");
          // Optionally, redirect or perform other actions based on the response
        },
        complete: function () {
          $("#forgot-password-btn")
            .text("Reset Password")
            .removeClass("bg-gray-600")
            .addClass("bg-black")
            .prop("disabled", false);
        },
        error: function (xhr, status, error) {
          if (xhr.status === 400 || xhr.status === 401) {
            var errorMessage = JSON.parse(xhr.responseText).message;
            alert(errorMessage);
          } else {
            console.log(error);
          }
        },
      });
    });

    // Function to enable loading
    function enableLoading() {
      $("#loadingIndicator").removeClass("hidden");
    }

    // Function to disable loading
    function disableLoading() {
      $("#loadingIndicator").addClass("hidden");
    }

    // Global AJAX complete handler
    $(document).ajaxStart(function () {
      enableLoading();
    });

    // Global AJAX complete handler
    $(document).ajaxComplete(function () {
      disableLoading();
    });
  });
</script>

<%- include('../partials/footer') %>
